<div id="main" class="main pageAnimation" ng-show="'<%query%>' != ''"  ng-controller="spiritlooksMainController" ng-init="init()">
<div class="wrapper">
  <div class="header container">

    <p class="sprite sprite-logo-small"><a href="javascript:window.location = '/'"></a></p>
    <p class="field"><input type="text" ng-model="q" placeholder="SEARCH" ng-keydown="onQueryKeyDown($event)"><a href="#" ng-click="onSearch($event)" class="sprite sprite-search-icon-small"></a></p>

  </div>

  <div class="body container">
    <div id="result" class="result">

    </div>
    <div id="filter" class="filter">
      <h1>FILTRELE</h1>
      <spirit-looks-filter-all></spirit-looks-filter-all>
      <%#appSettings.gurusSorted%>
      <spirit-looks-filter keyword="<%keyword%>"><%title%></spirit-looks-filter>
      <%/appSettings.gurusSorted%>
    </div>
  </div>
</div>
</div>
